.stock-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stock-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
  }
  
  .current-price {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
  }
  
  .buy-button {
    background-color: #f50057;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #c51162;
  }
  